In [ ]:
# install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

# install findspark using pip
!pip install -q findspark
!pip install pyspark

In [3]:
#ketika ngoding dengan python dan coding sprak maka import ini

import findspark 
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate() #ini bisa disebut variabel atau planning 

#local[*] artinya pake semua core (punyagoogle)

In [ ]:
spark

In [5]:
#bukin dataframe
df = spark.createDataFrame([{"hello":"world"} for x in range (1000)])

/content/spark-3.0.0-bin-hadoop3.2/python/pyspark/sql/session.py:378: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

In [6]:
df 

#tidak bisa dipanggil spt ini kalo di spark karena ada konsep lazy evaluation
#juga tidak ada perintah eksekusinya

DataFrame[hello: string]

In [ ]:
df.show() 
#show ini adalah action
#kalo dispark memang harus gitu, dipanggil juga actionnya

In [8]:
df.show(5)

+-----+
|hello|
+-----+
|world|
|world|
|world|
|world|
|world|
+-----+
only showing top 5 rows

In [9]:
df = spark.range(1000).toDF("number")

#didalam spark session ada yang namanya range

In [ ]:
df.show(10)

In [13]:
df.printSchema()
#kalo pengen tau kolomnya apa aja

root
 |-- number: long (nullable = false)

In [14]:
modulus = df.where("number %2 = 0") #untuk mengubah, karena dataframe sifatnya immutable

In [16]:
modulus.count()

500